<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChiudiQuellaPortaDai.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChiudiQuellaPortaDai.Properties.Settings>
            <setting name="MosconiAudioFolder" serializeAs="String">
                <value>mosconsoleaudio</value>
            </setting>
            <setting name="ChiudiName" serializeAs="String">
                <value>Chiudi quella porta 0</value>
            </setting>
        </ChiudiQuellaPortaDai.Properties.Settings>
    </userSettings>
</configuration>